body {
    background-image: url("student1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

th {
    cursor: pointer;
}

.section1 {
    margin-top: 1%;
    padding-left: 50px;
}

.section1__cotainer_form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    
}

.filtr {
    max-width: 400px;
}

.table {
    color: rgb(5, 22, 99);
}